{{- $wasm_module_suffix := env.ExpandEnv "$WASM_SUFFIX/genesis_bg.wasm" }}
{{- $js_binding_suffix := env.ExpandEnv "$WASM_SUFFIX/genesis.js" }}
{{- $wasm_module_path := env.ExpandEnv "$WASM_REL_PATH/genesis_bg.wasm" }}
{{- $js_binding_path := env.ExpandEnv "$WASM_REL_PATH/genesis.js" -}}
{{- $smbert_vocab := "smbert_v0000/vocab.txt" -}}
{{- $smbert_model := "smbert_v0000/smbert.onnx" -}}
{{- $qambert_vocab := "qambert_v0001/vocab.txt" -}}
{{- $qambert_model := "qambert_v0001/qambert.onnx" -}}
{{- $ltr_model := "ltr_v0000/ltr.binparams" -}}
{{- $data_dir := "data" -}}

{
  "assets": [
    {
      "name": "smbertVocab",
      "suffix": "{{ $smbert_vocab }}",
      "checksum": "{{ print $data_dir "/" $smbert_vocab | file.Read | crypto.SHA256 }}",
      "path": "{{ $data_dir }}/{{ $smbert_vocab }}"
    },
    {
      "name": "smbertModel",
      "suffix": "{{ $smbert_model }}",
      "checksum": "{{ print $data_dir "/" $smbert_model | file.Read | crypto.SHA256 }}",
      "path": "{{ $data_dir }}/{{ $smbert_model }}"
    },
    {
      "name": "qambertVocab",
      "suffix": "{{ $qambert_vocab }}",
      "checksum": "{{ print $data_dir "/" $qambert_vocab | file.Read | crypto.SHA256 }}",
      "path": "{{ $data_dir }}/{{ $qambert_vocab }}"
    },
    {
      "name": "qambertModel",
      "suffix": "{{ $qambert_model }}",
      "checksum": "{{ print $data_dir "/" $qambert_model | file.Read | crypto.SHA256 }}",
      "path": "{{ $data_dir }}/{{ $qambert_model }}"
    },
    {
      "name": "ltrModel",
      "suffix": "{{ $ltr_model }}",
      "checksum": "{{ print $data_dir "/" $ltr_model | file.Read | crypto.SHA256 }}"
    },
    {
      "name": "wasmModule",
      {{ if ( $wasm_module_path | file.Exists ) -}}
      "suffix": "{{ $wasm_module_suffix }}",
      "checksum": "{{ $wasm_module_path | file.Read | crypto.SHA256 }}",
      "path": "{{ $wasm_module_path }}"
      {{ else -}}
      "suffix": "",
      "checksum": ""
      {{ end -}}
    },
    {
      "name": "wasmScript",
      {{ if ( $js_binding_path | file.Exists ) -}}
      "suffix": "{{ $js_binding_suffix }}",
      "checksum": "{{ $js_binding_path | file.Read | crypto.SHA256 }}",
      "path": "{{ $js_binding_path }}"
      {{ else -}}
      "suffix": "",
      "checksum": ""
      {{ end -}}
    }
  ]
}
