.dart_tool/
build/
.packages
pubspec.lock

# When we push to the release repository
# we need to upload also the following files.
# DELETE_AFTER_THIS_IN_RELEASE
android/src/main/jniLibs/
android/src/main/XaynAiFfiCommon.h
android/src/main/XaynAiFfiDartPlugin.h
ios/Classes/XaynAiFfiCommon.h
ios/Classes/XaynAiFfiDartPlugin.h
ios/libxayn_ai_ffi_c.a
lib/src/common/ffi/genesis.dart
lib/src/mobile/ffi/genesis.dart
lib/src/web/ffi/*
!lib/src/web/ffi/library.dart
